spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: dossier-consumer
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
custom:
  message:
    finish-registration:
      subject: "Finish registration in credit-conveyor"
      text: "Hello, your loan application 邃本applicationId} approved! \nNow you should finish registration by the following link: http://localhost:8880/swagger-ui/index.html#/application/finishRegistration"
    create-document:
      subject: "Create documents for your loan application"
      text: "Hello, your loan application 邃本applicationId} passed all checks! \nNow you should send creating documents request by the following link: http://localhost:8880/swagger-ui/index.html#/document/createDocuments"
    send-document:
      subject: "Your loan documents"
      text: "Hello, here it is your loan documents for application 邃本applicationId}! \nNow you should send signing documents request by the following link: http://localhost:8880/swagger-ui/index.html#/document/signDocuments"
    send-ses:
      subject: "Your Simple Electric Sign"
      text: "Hello, here it is your Simple Electric Sign code {sesCode} for your application 邃本applicationId}. \nNow you should send this code to: http://localhost:8880/swagger-ui/index.html#/document/sendSesCode"
  document:
    credit-contract: |
      Credit contract {creditId} from {creditDate}
      Client's full name: {clientFullName}
      Client's passport: {clientPassport}
      Credit Info: 
        amount: {creditAmount}
        term: {creditTerm}
        monthly payment: {monthlyPayment}
        rate: {rate}
        psk: {psk}
        services:
          insurance: {isInsuranceEnabled}
          salary client: {isSalaryClient}
    credit-payment-schedule: |
      Payment schedule for credit contract {creditId} from {applicationCreationDate}
      Client's full name: {clientFullName}
      Payment schedule:
        {paymentSchedule}
    credit-application: |
      Credit application {applicationId} from {applicationCreationDate}
      Client info:
        full name: {clientFullName}
        birthdate: {clientBirthdate}
        gender: {clientGender}
        passport: {clientPassport}
        email: {clientEmail}
        martial status: {clientMartialStatus}
        dependent amount: {clientDependentAmount}
        Employment:
          employment status: {employmentStatus}
          employer INN (if present): {employerINN}
          salary: {employmentSalary}
          employment position: {employmentPosition}
          work experience (total): {employmentWorkExperienceTotal}
          work experience (current): {employmentWorkExperienceCurrent}
  feign:
    url:
      deal: 'http://localhost:8082/deal'